html, body, #root {
    width: 100%;      /* ウィンドウ全体に*/
    height: 100%;
    margin: 0;        /* すきまなく */
    padding: 0;
    overflow: hidden; /* はみ出た部分は表示されない */
    background-color: rgb(200,200,200);
}

/* 通常時の色 */
.nav-link.tool-bar-link {
    color: #909192;
    transition: color 0.2s ease; /* 色の変化をスムーズにする */
}

/* ホバー時の色 */
.nav-link.tool-bar-link:hover {
    color: #C9CACB;
}

/* 選択（active）時の色をホバーと同じにする */
.nav-link.tool-bar-link.active {
    color: #909192;
}

.nav-link.tool-bar-link i {
    margin-right: 2px; /* アイコンと文字の間の余白 */
}



/* スプリッタ（右パネル左辺） */
.splitter {
    width: 6px;
    cursor: col-resize;
    background: #191919;
    user-select: none;

    border-right: solid;
    border-right-color: #383B41;
}
.splitter:hover {
    background: #2680eb;
}

/* 右側のパネル領域 */
.splitter-right-panel {
    min-width: 200px;
    max-width: 70%;
}

/* ヘッダ */
.settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-bottom: 0.5px solid;

    background-color: #272a31;
    color: #C9CACB;
    border-bottom-color: #383B41;
}

/* 本文 */
.settings-body {
    padding: 12px;
    flex: 1;
    overflow: auto;

    background-color: #272a31;
    color: #C9CACB;
    border-bottom-color: #383B41;
}

/* 閉じるボタン */
.settings-close {
    color: #c9cacb;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: transparent;

    border-radius: 6px;
    padding: 2px 8px;
    line-height: 1.2;
    cursor: pointer;
}

.settings-close:hover {
    opacity: 0.7;
}
